﻿@model SearchHitWebApplication.Models.ViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @using (Html.BeginForm("GetResults", "Home", FormMethod.Post)) {
        <div class="col-md-4">
            @Html.Label("Skriv in ett sökord")
            @Html.ValidationMessageFor(model => model.SearchQuery)
            @Html.TextBoxFor(model => model.SearchQuery, new { @class = "form-control" })
        </div>
        <div class="col-md-4">
            <button type="submit" class="btn btn-primary">Sök</button>
        </div>
    }
</div>
@{
    if (ViewBag.Error != null) {
        <div class="errorText">@ViewBag.Error</div>
    } else if (Model?.GoogleSearchHits == null && Model?.SearchQuery != null) {
        <div class="errorText">Ingen data kunde hämtas från Google.</div>
    } else if (Model?.BingSearchHits == null && Model?.SearchQuery != null) {
        <div class="errorText">Ingen data kunde hämtas från Bing.</div>
    } 
}
<div>
    Antal träffar från Google: <p class="hitText">@(Model?.GoogleSearchHits)</p>
</div>
<div>
    Antal träffar från Bing: <p class="hitText">@(Model?.BingSearchHits)</p>
</div>